$body-color: #49474A;
$border: 2px solid;

body {
  background-color: $body-color;
  color : white
}

.top_NA {
  border: 1px solid white;
  color: white;
  display: inline-block;
  padding: 1em;
  margin: 2% 40% 0 44%;
  text-align: center;
}

#search {
  border-bottom: 1px solid white; 
  border: none;
  border-bottom: 1px white solid;
  width: 90%;
  margin: 1% 5% 0 5%;
  background-color: $body-color;
  height: 3em;
}

@media screen and (max-width: 575px)  {
  #search {
    border: none;
    border-bottom: 1px white solid;
    width: 100%;
    margin-left: 35px;
    background-color: $body-color;
    height: 3em;
  }

  #news-articles  {
    display: flex;
    height: auto;
    flex-wrap: wrap;
    width: 110%;
  }
    li.article  {
      background-color: #2F2E30;
      text-align: center;
      list-style: none;
      width: 100%;
      margin: 1%;
      border-radius: 5px;
      &:hover {
        background-color: black;
      }
    }
}

@media screen and (min-width: 576px)  {
  #news-articles  {
    display: flex;
    height: auto;
    flex-wrap: wrap;
  
    li.article  {
      background-color: #2F2E30;
      text-align: center;
      list-style: none;
      width: 45%;
      margin: 1%;
      border-radius: 5px;
      &:hover {
        background-color: black;
      }
    }
  }
}

@media screen and (min-width: 768px)  {
  #news-articles  {
    display: flex;
    height: auto;
    flex-wrap: wrap;
  
    li.article  {
      background-color: #2F2E30;
      text-align: center;
      list-style: none;
      width: 30%;
      margin: 1%;
      border-radius: 5px;
      &:hover {
        background-color: black;
      }
    }
  }
}  


